<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
app.settings.asideFixed = true;
app.settings.asideDock = false;
app.settings.container = false;
app.hideAside = true;
app.hideFooter = true;
" ng-controller="NoteCtrl">
<!-- column -->
<div class="col">
  <div class="h-full" style="min-height:340px;">
    <div class="wrapper">
      <script type="text/ng-template" id="newTimesheet.html">
        <div ng-include="'apps/note/timesheet.new.html'"></div>
      </script>
      <a href class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="open('sm')">New</a>

      <div class="h4">Jog Times</div>
    </div>

    <div class="wrapper b-t m-t-xxs">



     <div class="form-group form-inline" ng-visible="customVisible">

      <div class="input-group col-sm-2" ng-controller="DatepickerDemoCtrl">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.startDate" is-open="opened" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event,2)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
      <div class="input-group col-sm-2" ng-controller="DatepickerDemoCtrl">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.endDate" is-open="opened" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event,3)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>

      <a href class="btn btn-default" ng-click="changeFilter()">All</a>
      <a href class="btn btn-default" ng-click="changeFilter('month')">This Month</a>
      <a href class="btn btn-default" ng-click="changeFilter('week')">This Week</a>
      <a href class="btn btn-default" ng-click="export()"><i class="fa fa-external-link"></i> Export</a>

     <!--  <div class="input-group" style="float: right">
        <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control input-sm" placeholder="search" ng-model="query">
      </div> -->
    </div>
    

  </div>

  <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th ng-show="account.isManager">User</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Average Speed</th>            
            <th width="100px"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="note in (filteredTimesheets = (timesheets | dateRange: startDate : endDate : query | orderBy:'date':true))" class="b-l-3x hover-anchor" ng-class="{'hover': note.selected }" ng-click="selectNote(note)"
          ng-mouseover="hover(note)" ng-mouseout="hover(note)">
          <td ng-show="account.isManager"> {{note.userId.login}}</td>
          <td>
          {{ note.date | date:"yyyy MMM dd" }}</td>
          <td><i class="glyphicon glyphicon-time text-muted"></i> {{ (note.time > 3600) ? (note.duration | date:"H'h 'm'm 's's '") : (note.duration | date:"m'm 's's '") }}</td>
          <td>{{ note.distance}} km <progressbar value="(note.distance / maxDistance)*100" class="progress-xs m-b-none bg-grey" type="info">{{maxDistance}}</progressbar></td>
          <td>{{ note.distance / (note.time / 3600) | number:2 }} km/h  <progressbar value="(note.distance / (note.time / 3600) / maxAverage)*100" class="progress-xs m-b-none bg-grey" type="danger">{{maxAverage}}</progressbar></td>
          <td><div class="pull-right" ng-show="note.hover">
                <button class="btn btn-xs btn-default" ng-click='edit(note)'><i class="icon-pencil"></i></button>
                <button class="btn btn-xs btn-default" ng-click='delete(note)'><i class="icon-trash"></i></button>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>


  <!--<div class="row-row">
    <div class="cell scrollable hover">
      <div class="cell-inner">
        <div class="padder">
          <div class="list-group">
            <a ng-repeat="note in (filteredTimesheets = (timesheets | dateRange: startDate : endDate : query | orderBy:'date':true))" class="list-group-item b-l-{{note.color}} b-l-3x hover-anchor" ng-class="{'hover': note.selected }" ng-click="selectNote(note)">
              
              
              <span class="text-muted pull-left col-lg-2">{{ note.date | date:"yyyy MMM dd hh:mm" }}</span>
              <i class="pull-left glyphicon glyphicon-time text-muted"></i>
              <span class="pull-left col-lg-1" >{{ (note.time > 3600) ? (note.duration | date:"H'h 'm'm 's's '") : (note.duration | date:"m'm 's's '") }}</span>
              <span class="pull-left col-lg-1 hidden-sm hidden-xs" style="padding-top:8px">
                <progressbar value="(note.distance / maxDistance)*100" class="progress-xs m-b-none bg-grey" type="info">{{maxDistance}}</progressbar>
              </span>
              <span class="pull-left col-lg-2 text-info"><span class="hidden-xs">Distance:</span> {{ note.distance}} km</span>

              <span class="pull-left col-lg-1 hidden-sm hidden-xs" style="padding-top:8px">
                <progressbar value="(note.distance / (note.time / 3600) / maxAverage)*100" class="progress-xs m-b-none bg-grey" type="danger">{{maxAverage}}</progressbar>
              </span>

              <span class="pull-left text-danger col-lg-2"><span class="hidden-xs">Avg speed:</span> {{ note.distance / (note.time / 3600) | number:2 }} km/h</span>
              <div class="clear">&nbsp;</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
</div>
<!-- /column -->

</div>
<!-- /hbox layout -->
